/* ============================================================== header */
header {
    width:100%; padding:28px 80px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    position:absolute; left:0; top:0;
}
header h1 {}
header h1 a {}
header h1 a img {width:100%;}
header nav {}
header nav a {margin-right:22px; font-weight:500; font-size:0.88rem; color:#fff;}
header nav a:last-child {margin:0px;}
/* ============================================================== main */
main {margin-bottom:200px;}
main .bnr {
    background-image:url(../images/header.jpg); background-size:cover;
    text-align:center; color:#fff;
    padding:135px 80px;
    margin-bottom:200px;
}
main .bnr h1 {font-weight:200; font-size:4.06rem; letter-spacing:-0.02em; margin:90px 0 15px;}
main .bnr h2 {font-weight:500; font-size:1.88rem;}
/* ============================================================== main 공통선택자 */
main .contents_wrap {width:1260px; margin:0 auto; text-align:center;}
main .contents_wrap > * {margin-bottom:180px;}
main .title {font-weight:600; font-size:1.88rem; margin-bottom:15px;}
main .txt {font-size:1.06rem; line-height:1.4; letter-spacing:-0.02em; margin-bottom:55px;}
main .txt span {font-weight:600; font-size:1.06rem; line-height:1.4; letter-spacing:-0.02em;}
/* ============================================================== main-about*/
main .about {}
main .about .title {}
main .about .txt {}
main .about .txt span {}
main .about p img {width:67%;}
/* ============================================================== main-guest 공통선택자*/
main .guesthouse {}
main .guesthouse .title {}
main .guesthouse .txt {}
main .guesthouse .room {display:flex; flex-flow:row nowrap; justify-content:space-between;}
main .guesthouse .room .info {
    background-color:#eeeeee;
    width:calc((100% - 10px) / 2); padding:70px 56px; text-align:left;
}
main .guesthouse .room .info h3 {font-weight:600; font-size:1.63rem; letter-spacing:-0.02em; margin-bottom:10px;}
main .guesthouse .room .info .room_type {font-size:1.06rem; margin-bottom:30px;}
main .guesthouse .room .info .explain {font-size:1.06rem; line-height:1.4; letter-spacing:-0.02em;}
main .guesthouse .room .btn {margin-top:70px;}
main .guesthouse .room .btn .reservation {
    background-color:#606060; color:#fff; border-radius:5px;
    padding:8px 18px;
}
main .guesthouse .room .btn .reservation:hover {background-color:#000;}
main .guesthouse .room .btn .more {
    border:1px solid #000; border-radius:5px;
    padding:8px 18px; margin-left:8px;
}
main .guesthouse .room .btn .more:hover {background-color:#000; color:#fff;}
main .guesthouse .room > p {}
main .guesthouse .room p img {width:100%;}
/* ============================================================== main-guest*/
main .guesthouse .standard {margin-bottom:10px;}
main .guesthouse .standard .info {}
main .guesthouse .standard .info h3 {}
main .guesthouse .standard .info .room_type {}
main .guesthouse .standard .info .explain {}
main .guesthouse .standard .info .btn {}
main .guesthouse .standard .info .btn .reservation {}
main .guesthouse .standard .info .btn .more {}
main .guesthouse .standard > p {margin:0px;}
main .guesthouse .standard > p img {}
main .guesthouse .vip {}
main .guesthouse .vip .info {}
main .guesthouse .vip .info h3 {}
main .guesthouse .vip .info .room_type {}
main .guesthouse .vip .info .explain {}
main .guesthouse .vip .btn {}
main .guesthouse .vip .btn .reservation {}
main .guesthouse .vip .btn .more {}
main .guesthouse .vip > p {}
main .guesthouse .vip > p img {}
/* ============================================================== main-travel 공통선택자*/
main .travels {}
main .travels h2 {}
main .travels a {margin:23px 0 15px; float:right; display:flex;}
main .travels a img {margin-left:8px;}
main .travels .contents {
    width:100%; text-align:left;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .travels .contents h4 {
    background:url(../images/line.png) no-repeat;
    font-weight:600; font-size:1.3rem; letter-spacing:-0.02em; 
    margin:20px 0 10px; padding-left:15px;
}
main .travels .contents p {font-size:1.06rem; line-height:1.4; letter-spacing:-0.02em;}
main .travels .contents p img {width:100%;}
/* ============================================================== main-travel 개별선택자*/
main .travels .contents .spot1 {}
main .travels .contents .spot1 h4 {}
main .travels .contents .spot1 p {}
main .travels .contents .spot1 p img {}
main .travels .contents .spot2 {}
main .travels .contents .spot2 h4 {}
main .travels .contents .spot2 p {}
main .travels .contents .spot2 p img {}
main .travels .contents .spot3 {}
main .travels .contents .spot3 h4 {}
main .travels .contents .spot3 p {}
main .travels .contents .spot3 p img {}
/* ============================================================== main-location*/
main .location {max-width:850px; margin:0 auto;}
/* 너비값을 고정작성할 경우 반응형을 고려하여 max-width로 해야한다. */
main .location h2 {margin-bottom:55px;}
main .location p {}
main .location p img {width:100%;}
main .location .address {
    margin-top:30px; text-align:left;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
main .location .address .left {}
main .location .address .left p {font-weight:700; font-size:1.06rem; letter-spacing:-0.02em; margin-bottom:20px;}
main .location .address .left a {
    background-color:#606060; color:#fff; border-radius:5px;
    padding:8px 18px; font-weight:600; font-size:1.06rem;
}
main .location .address .left a:hover {background-color: #000;}
main .location .address .right {border-left:2px solid #d9d9d9; padding-left:33px;}
main .location .address .right .bus {}
main .location .address .right .bus h4 {font-weight:600; font-size:1.06rem; line-height:1.4; letter-spacing:-0.02em; margin-bottom:20px;}
main .location .address .right .bus p {font-size:0.88rem; letter-spacing:-0.02em; line-height:1.6; margin-top:20px; margin:20px 0 15px;}
main .location .address .right .bus p em {font-weight:600; font-size:0.88rem; letter-spacing:-0.02em; line-height:1.6;}
main .location .address .right .subway {margin-top:50px;}
main .location .address .right .subway h4 {font-weight:600; font-size:1.06rem; line-height:1.4; letter-spacing:-0.02em;}
main .location .address .right .subway p {font-size:0.88rem; letter-spacing:-0.02em; line-height:1.6; margin-top:20px;}
main .location .address .right .subway p em {font-weight:600; font-size:0.88rem; letter-spacing:-0.02em; line-height:1.6;}
/* ============================================================== footer */
footer {
    height:360px; padding:46px 104px;
    background-color:#eeeeee;
}
footer .row1 {display:flex; flex-flow:row nowrap; margin-bottom:45px;}
footer .row1 a {font-size:0.88rem; letter-spacing:-0.02em; margin-right:30px;}
footer .row1 a:last-child {margin:0;}
footer .row2 {margin-bottom:20px;}
footer .row2 p {font-size:0.88rem; letter-spacing:-0.02em; line-height:1.5;}
footer .row2 p em {font-weight:600; font-size:0.88rem; letter-spacing:-0.02em; line-height:1.5;}
footer .row3 {}
footer .row3 p {font-size:0.88rem; letter-spacing:-0.02em; line-height:1.5;}
footer .row3 p:last-child {font-size:0.88rem; letter-spacing:-0.02em; margin-top:66px;}