header {width:1152px; margin:0 auto;}
/* ================================================== header top */
header .top {
    height:48px;
    /* lnb와 mu_lnb를 정렬하기 위한 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .top .lnb {
    /* 서울특별시 h1~응답소 a 정렬하기 위한 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {letter-spacing:-0.02em; margin-left:20px;}
header .top .my_lnb {}
header .top .my_lnb a {letter-spacing:-0.02em;}
header .top .my_lnb a:nth-child(2) {margin:0 20px;}
/* ================================================== header bottom */
header .bottom {
    height:119px;
    /* 로고h1~언어div 자식을 묶는 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {
    background-color:#fff;
    width:369px; height:46px;
    border:2px solid #1E6CB3; padding:0 20px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .bottom #searchFrm input[name*=search] {}
header .bottom #searchFrm input[name*=search]::placeholder {color:#1E6CB3; letter-spacing:-0.02em;}
header .bottom #searchFrm .search_btn {} 
header .bottom #searchFrm .search_btn img {}
header .bottom .lang {display:flex; align-items:center;}
header .bottom .lang select[name*=lang] {
    border:1px solid #1E6CB3; font-size:0.813rem; letter-spacing:-0.02em;
    width:93px; height:29px; padding-left:10px; margin-right:2px;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
    background-color:#1E6CB3; color:#fff;
    font-size:0.813rem; letter-spacing:-0.02em;
    width:30px; height:29px;
}
/* ================================================== main */
/* ================================================== main_visual container */
main {}
main .visual_container {
    width:1152px; margin:0 auto;
    /* 좌(거리두기)-우(현황, 교통) 자식정렬 부모 flex 대상 */
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
main .visual_container .covid_notice {position:relative;}
main .visual_container .covid_notice img {}
main .visual_container .covid_notice .close {
    background-color: #1E6CB3; color:#fff;
    border-radius:5px; padding:10px;
    position:absolute; right:10px; bottom:10px; display:block;
    font-weight:500; letter-spacing:-0.02em;
}
main .visual_container .right_container {width:360px;}
main .visual_container .right_container .covid_situation {position:relative;}
main .visual_container .right_container .covid_situation img {}
main .visual_container .right_container .covid_situation span {
    position:absolute; display:block;
    letter-spacing:-0.02em;
}
main .visual_container .right_container .covid_situation .date {
    width:160px; top:11px; right:20px; text-align:right;
}
main .visual_container .right_container .covid_situation .data {text-align:center; color:#fff;}
main .visual_container .right_container .covid_situation .data1 {width:140px; left:30px; top:83px;}
main .visual_container .right_container .covid_situation .data2 {width:140px; right:30px; top:83px;}
main .visual_container .right_container .covid_situation .data3 {width:94px; left:30px; bottom:56px;}
main .visual_container .right_container .covid_situation .data4 {width:94px; right:121px; bottom:56px;}
main .visual_container .right_container .covid_situation .data5 {width:59px; right:33px; bottom:56px;}
main .visual_container .right_container .traffic_info {margin-top:9px;}
main .visual_container .right_container .traffic_info a {}
main .visual_container .right_container .traffic_info a img {}
/* ================================================== ★★ 2~5 공통제목디자인 */
main > * {width:1152px; margin:50px auto 0;}
main > * .title {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding-bottom:20px; border-bottom:1px solid #ccc;
}
main > * .title h1 {font-size:1.44rem; font-weight:500; letter-spacing:-0.02em;}
main > * .title .more_view {border:1px solid #aaa; padding:10px; letter-spacing:-0.02em;}
/* ================================================== 2.service_container */
main .service_container {}
main .service_container .title {}
main .service_container .title h1 {}
main .service_container .title .more_view {}
main .service_container .contents {
    width:100%; display:flex; flex-flow:row nowrap;
}
main .service_container .contents a {
    display:flex; flex-flow:column nowrap;
    /* 모든 a가 동일한 비율을 가지게 하는 방법 */
    flex:1;  /* 또는 width:calc(100% / 11); */
    align-items:center; padding:20px 0;
    
}
main .service_container .contents a span {
    width:60px; height:60px; margin-bottom:15px;
    background-image:url(../images/service.png);
}
main .service_container .contents a em {font-size:0.81rem; letter-spacing:-0.02em;}
main .service_container .contents a:nth-child(1) span {}
main .service_container .contents a:nth-child(2) span {background-position-x:-60px;}
main .service_container .contents a:nth-child(3) span {background-position-x:-120px;}
main .service_container .contents a:nth-child(4) span {background-position-x:-180px;}
main .service_container .contents a:nth-child(5) span {background-position-x:-240px;}
main .service_container .contents a:nth-child(6) span {background-position-x:-300px;}
main .service_container .contents a:nth-child(7) span {background-position-x:300px}
main .service_container .contents a:nth-child(8) span {background-position-x:240px}
main .service_container .contents a:nth-child(9) span {background-position-x:180px}
main .service_container .contents a:nth-child(10) span {background-position-x:120px}
main .service_container .contents a:nth-child(11) span {background-position-x:60px;}
/* ================================================== 배너 */
main .covid_container {background-color:#EFF4F8; width:100%;}
main .covid_container .contents {
    width:1152px; margin:0 auto; padding:50px 0px;
    display:flex; flex-flow:row nowrap;
}
main .covid_container .contents a {flex:1;}
main .covid_container .contents a img {width:100%;} /*부모에 꽉차서 정확한 비율로 나뉘어져있을 경우*/
/* ================================================== 3. ★★신청, 행사, 서비스 */
main .event_container {display:flex; flex-flow:row nowrap;}
main .event_container .contents {width:calc(100% / 3); margin-right:22px;}
main .event_container .contents .title {}
main .event_container .contents .title h1 {}
main .event_container .contents .title .more {}
main .event_container .contents .title .more img {}
main .event_container .contents .list {margin-top:15px;}
main .event_container .contents .list li {display:flex; flex-flow:row nowrap; margin-bottom:25px; letter-spacing:-0.02em;}
main .event_container .contents .list li:last-child {margin-bottom:0;}
main .event_container .contents .list li .category {width:40px;}
main .event_container .contents .list li a {
    /* 글자 줄이기 처리 방법*/
    width:calc(100% - 40px);
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
/* ================================================== 3. 카테고리별 색상 */
main .event_container .contents .list li .admin {color:#028AB6;} /*행정*/
main .event_container .contents .list li .environment {color:#599100;} /*환경*/
main .event_container .contents .list li .welfare {color:#D76000;} /*복지*/
main .event_container .contents .list li .housing {color:#C35C3C;} /*주택*/
main .event_container .contents .list li .culture {color:#9B64D3;} /*문화*/
main .event_container .contents .list li .economy {color:#069363;} /*경제*/
/* ================================================== 3-1. 이벤트신청 */
main .event_container .event_apply {}
main .event_container .event_apply .title {}
main .event_container .event_apply .title h1 {}
main .event_container .event_apply .title .more {}
main .event_container .event_apply .title .more img {}
main .event_container .event_apply .list {}
main .event_container .event_apply .list li {}
main .event_container .event_apply .list li .category {}
main .event_container .event_apply .list li a {}
/* ================================================== 3-2. 이달의 행사 및 축제 */
main .event_container .month_event {}
main .event_container .month_event .title {}
main .event_container .month_event .title h1 {}
main .event_container .month_event .title .more {}
main .event_container .month_event .title .more img {}
main .event_container .month_event .list {}
main .event_container .month_event .list li {}
main .event_container .month_event .list li .category {}
main .event_container .month_event .list li a {}
/* ================================================== 3-3. 자주 찾은 서비스 */
main .event_container .service_visit {margin-right:0;}
main .event_container .service_visit .title {}
main .event_container .service_visit .title h1 {}
main .event_container .service_visit .title .more {}
main .event_container .service_visit .title .more img {}
main .event_container .service_visit .list {
    background-color:#EFF4F8; padding:13px;
    display:flex; flex-flow:row wrap;
}
main .event_container .service_visit .list li {width:calc(100% / 2);}
main .event_container .service_visit .list li:nth-child(9),
main .event_container .service_visit .list li:nth-child(10) {margin-bottom:0;}
main .event_container .service_visit .list li a {}
/* ================================================== 4.분야정보 */
main .info_container {}
main .info_container .title {}
main .info_container .title h1 {}
main .info_container .contents {
    display:flex; flex-flow:row nowrap; justify-content:space-around; padding:20px 0;}
main .info_container .contents a {display:flex; flex-flow:column nowrap; flex:1; align-items:center;}
main .info_container .contents a span {background-image:url(../images/category_info.png); width:104px; height:111px;}
main .info_container .contents a:nth-child(2) span {background-position-x:-104px;}
main .info_container .contents a:nth-child(3) span {background-position-x:-208px;}
main .info_container .contents a:nth-child(4) span {background-position-x:-312px;}
main .info_container .contents a:nth-child(5) span {background-position-x:-416px;}
main .info_container .contents a:nth-child(6) span {background-position-x:312px;}
main .info_container .contents a:nth-child(7) span {background-position-x:208px}
main .info_container .contents a:nth-child(8) span {background-position-x:104px;}
main .info_container .contents a em {letter-spacing:-0.02em;}
/* ================================================== 5. 새소식*/
main .news_container {padding-bottom:50px;}
main .news_container .title {}
main .news_container .title h1 {}
main .news_container .title .more_view {}
main .news_container .contents {display:flex; flex-flow:row wrap; justify-content:space-between; margin-top:44px;}
/* calc((100% - 총여백) / 한 줄에 들어오는 열 개수) */
main .news_container .contents li {width:calc((100% - 39px) / 4);}
main .news_container .contents li:nth-child(1),
main .news_container .contents li:nth-child(2),
main .news_container .contents li:nth-child(3),
main .news_container .contents li:nth-child(4) {margin-bottom:30px;}
main .news_container .contents li a {}
main .news_container .contents li a img {width:100%; margin-bottom:10px;}
main .news_container .contents li a span {font-size:0.875rem; letter-spacing:-0.02em; line-height:150%;}
/* ================================================== footer */
footer {width:1152px; margin:0 auto; padding-bottom:50px;}
footer .top {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    padding:20px 0;
    border:1px solid #ccc; border-left:0; border-right:0;
}
footer .top .menu {display:flex;}
}
footer .top .menu a {letter-spacing:-.0.02em; }
footer .top .menu a::after {
    /* 글자 사이에 있는 | 표시 넣기, 가상요소 만들어서 넣는 방법! */
    content:''; display:inline-block;
    width:1px; height:10px; background-color:#000;
    margin:0 10px;
    position:relative; top:-1px;
}
footer .top .menu a:last-child::after {display:none;}
footer .top .sns {display:flex; flex-flow:row nowrap;}
footer .top .sns a {
    background-image:url(../images/sns_sprite.png);
    width:25px; height:25px; margin-right:10px;
}
footer .top .sns a:hover {background-position-y:-25px;} /*마우스를 올렸을 때*/
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x:-25px;}
footer .top .sns a:nth-child(3) {background-position-x:-50px;}
footer .top .sns a:nth-child(4) {background-position-x:-75px;}
footer .top .sns a:nth-child(5) {background-position-x:-100px;}
footer .top .sns a:nth-child(6) {background-position-x:-125px; margin-right:0;}
footer .top .sns a span {/*글자 숨기기*/ display:none;}
footer .bottom {
    padding:30px 0;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
footer .bottom address {
    line-height:180%; letter-spacing:-0.02em;
}
footer .bottom address a {border-bottom:1px solid #000;}
footer .bottom .mark {}
footer .bottom .mark a {}
footer .bottom .mark a:first-child {margin-right:10px;}
footer .bottom .mark a img {}