header {
    width:1152px; margin:0 auto;
}
/* ================================================== header top */
header .top {
    height:48px;
    /* lnb와 mu_lnb를 정렬하기 위한 flex적용 부모.. */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
header .top .lnb {background-color:aqua;}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {}
header .top .my_lnb {background-color: violet;}
header .top .my_lnb a {}
/* ================================================== header bottom */
header .bottom {
    height:119px;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {background-color: orange;}
header .bottom #searchFrm input[name*=search] {}
header .bottom #searchFrm .search_btn {}
header .bottom #searchFrm .search_btn img {}
header .bottom .lang {background-color:springgreen;}
header .bottom .lang select[name*=lang] {}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {}
/* ================================================== main */
/* ================================================== footer */ 