/* =================================================== header */
header {
    width:1600px;
    position:absolute; top:30px; left:50%;
    transform:translateX(-50%);
}
header .logo {
    width:100%;
    text-align:center;
}
header .logo a {}
header .logo a img {width:122px; margin-bottom:18px;}
/* =================================================== 아이콘 내비게이션 */
header .user_wrap {
    position:relative;
    z-index:20;
    overflow:hidden;
}
header .user_wrap .icon {
    display:flex;
    justify-content:end;
    align-items:center;
}
header .user_wrap .icon a {
    display:block;
    width:18px;
    margin-right:25px;
}
header .user_wrap .icon a:last-child {margin:0;}
header .user_wrap .icon a img {width:100%;}
/* =================================================== 검색 팝업창 */
header .user_wrap .search_popup {
    width:400px;
    padding:35px 40px;
    background-color:#fff;
    position: absolute;
    top: 31px;
    right: 0;
    z-index: 10; /* 기존보다 낮게 설정 */
    display: none;
    pointer-events: none; /* 기본적으로 클릭 이벤트 차단 */
}
header .user_wrap .search_popup.active {
    display: block;
}
header .user_wrap .search_popup .search_box {
    margin-bottom:48px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:320px;
    padding-bottom:12px;
    border-bottom:1px solid #1A1A18;
}
header .user_wrap .search_popup .search_box .search_bar {
    font-size:0.81rem;
    width:100%;
    padding-right:10px;
}
header .user_wrap .search_popup .search_box .search_bar::placeholder {
    font-size:0.81rem;
    color:#7C7C7C;
}
header .user_wrap .search_popup .search_box .search_btn {width:12px;}
header .user_wrap .search_popup .search_box .search_btn img {width:100%;}
header .user_wrap .search_popup .popular_word {margin-bottom:48px;}
header .user_wrap .search_popup .popular_word > h2 {
    font-size:0.88rem;
    font-weight:600;
    margin-bottom:20px;
}
header .user_wrap .search_popup .popular_word .rank {}
header .user_wrap .search_popup .popular_word .rank li {
    display:flex;
    align-items:center;
    font-size:0.88rem;
    margin-bottom:12px;
}
header .user_wrap .search_popup .popular_word .rank li:last-child {margin-bottom:0;}
header .user_wrap .search_popup .popular_word .rank li > span {
    display:flex;
    align-items:center;
    width:7px;
    margin-right:13px;
}
header .user_wrap .search_popup .popular_word .rank li > span > img {width:100%;}
header .user_wrap .search_popup .popular_word .rank li > a {
    display:flex;
    align-items:center;
}
header .user_wrap .search_popup .trendy {}
header .user_wrap .search_popup .trendy > h2 {
    font-size:0.88rem;
    font-weight:600;
    margin-bottom:20px;
}
header .user_wrap .search_popup .trendy .content {}
header .user_wrap .search_popup .trendy .content > p {
    font-size:0.75rem;
    line-height:1.4;
    margin-bottom:8px;
}
header .user_wrap .search_popup .trendy .content > p > em {
    font-family:'Diptyque';
    letter-spacing:0;
    font-weight:600;
    font-size:0.75rem;
}
header .user_wrap .search_popup .trendy .content > p > span {
    font-family:'Diptyque';
    letter-spacing:0;
    font-size:0.75rem;
}
header .user_wrap .search_popup .trendy .content > a {
    display:block;
    width:320px;
}
header .user_wrap .search_popup .trendy .content > a img {width:100%;}
/* =================================================== 내비게이션 */
header .nav {
    display:flex;
    justify-content:center;
}
header .nav a {
    margin-right:45px;
    font-family:'Diptyque';
    letter-spacing:0;
    color:#1A1A18;
}
header .nav a:last-child {margin:0;}
/* =================================================== 세컨드 내비게이션 공통 CSS */
header .nav .second_nav {
    margin-top:22px;
    display:flex;
    flex-flow:column nowrap;
    align-items:start;
    padding:25px;
    background-color:#1A1A18;
    position:absolute;
    left:0; top:0;
    display:none;
}
header .nav .second_nav:hover {display:block;}
header .nav .second_nav > a {
    margin-bottom:25px;
    font-size:0.88rem;
    white-space:nowrap;
    color:#fff;
}
header .nav .second_nav > a:last-child {margin:0;}
/* =================================================== 세컨드 내비게이션 */
header .nav .fragrances {position:relative; overflow:hidden;}
header .nav .fragrances a {}
header .nav .fragrances .second_nav {}
header .nav .fragrances .second_nav a {}
header .nav .bodynbath {position:relative; overflow:hidden;}
header .nav .bodynbath a {}
header .nav .bodynbath .second_nav {}
header .nav .bodynbath .second_nav a{}
header .nav .home {position:relative; overflow:hidden;}
header .nav .home a {}
header .nav .home .second_nav {}
header .nav .home .second_nav a {}
/* =================================================== 상품 CSS */
main .item {width:300px;}
main .item .item_thum {position:relative;}
main .item .item_thum .image {
    display:block;
    width:300px;
}
main .item .item_thum .image img {
    width:100%;
    margin-bottom:20px;
}
main .item .item_thum .tag {
    background-color:#1A1A18;
    color:#fff; 
    padding:5px 10px;
    font-size:0.75rem; font-weight:600; letter-spacing:0;
    position:absolute; 
    left:12px; top:12px;
}
main .item .item_name_add_btn {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
main .item .item_name_add_btn .item_name {
    display:block; margin-bottom:5px;
}
/* =================================================== cart 버튼 */
main .item .item_name_add_btn .add_btn {
    display:block;
    width:18px;
}
main .item .item_name_add_btn .add_btn > img {width:100%;}
main .item .item_info {
    color:#7C7C7C;
    font-family:'Diptyque';
    font-size:0.81rem;
    letter-spacing:0;
    margin-bottom:20px;
}
main .item .price {font-weight:600;}
/* =================================================== cart 토스트창 */
main .cart_toast {
    background-color: #fff;
    padding:25px 20px;
    border:1px solid #1A1A18;
    display:none;
    position:fixed;
    top:30%;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
}
main .cart_toast.show {
    display:block;
    opacity:1;
}
main .cart_toast > p  {
    font-size:0.81rem;
    margin-bottom:30px;
}
main .cart_toast > em {
    display:block;
    font-size:0.88rem;
    font-weight:600;
    margin-bottom:10px;
}
main .cart_toast > span {
    display:block;
    font-family:'Diptyque';
    letter-spacing:0;
    font-size:0.81rem;
    margin-bottom:30px;
}
main .cart_toast .toast_btns {
    font-size:0.81rem;
    margin:0;
}
main .cart_toast .toast_btns .keep {
    border:1px solid #1A1A18;
    margin-right:8px;
    padding:10px 33px;
}
main .cart_toast .toast_btns .go {
    background-color:#1A1A18;
    color:#fff;
    padding:10px 33px;
}
/* =================================================== services */
main .service {width:1600px; margin-bottom:80px;}
main .service h2 {margin-bottom:40px;}
main .service .content_wrap {
    width:548px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}
main .service .content_wrap .content {text-align:center;}
main .service .content_wrap .content h3 {width:92px;}
main .service .content_wrap .content h3 img {width:100%; margin-bottom:30px;}
main .service .content_wrap .content p {font-size:0.88rem; font-weight:500;}
/* =================================================== 블랙 띠배너 */
main .black_line_bnr {
    padding:15px 0;
    background-color:#1A1A18;
    text-align:center;
}
main .black_line_bnr h3 {
    font-family:'Diptyque';
    font-size:1.25rem;
    letter-spacing:0;
    color:#fff;
}
/* =================================================== footer */
footer {padding:80px 160px;}
footer .ft_container {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
footer .ft_container .legal_wrap {}
footer .ft_container .legal_wrap .terms {margin-bottom:16px;}
footer .ft_container .legal_wrap .terms a {font-size:0.81rem; }
footer .ft_container .legal_wrap .legal {
    font-size:0.69rem;
    line-height:2;
    color:#7C7C7C;
    margin-bottom:16px;
}
footer .ft_container .legal_wrap .legal span  {font-weight:600;}
footer .ft_container .legal_wrap .copyright {
    font-size:0.69rem;
    line-height:1.6;
    color:#7C7C7C;
}
footer .ft_container .help {}
footer .ft_container .help p {
    font-family:'Diptyque';
    font-size:1.125rem;
    font-weight:700;
    letter-spacing:0;
    margin-bottom:16px;
}
footer .ft_container .help a {
    display:block;
    font-size:0.81rem;
    margin-bottom:16px;
}
footer .ft_container .help span {
    font-size:0.81rem;
    line-height:1.6;
}
footer .ft_container .help span em {
    font-size:1rem;
    font-weight:600;
}
footer .ft_container .store {}
footer .ft_container .store p {
    font-family:'Diptyque';
    font-size:1.125rem;
    font-weight:700;
    letter-spacing:0;
    margin-bottom:16px;
}
footer .ft_container .store a {
    display:block;
    font-size:0.81rem;
    margin-bottom:16px;
}
footer .ft_container .news_social {}
footer .ft_container .news_social .newsletter {margin-bottom:84px;}
footer .ft_container .news_social .newsletter p {font-weight:600; margin-bottom:16px;}
footer .ft_container .news_social .newsletter .input_email {
    display:flex;
    justify-content:space-between;
}
footer .ft_container .news_social .newsletter .input_email #mail {
    border:1px solid #000;
    padding:0 10px;
    font-size:0.81rem;
}
footer .ft_container .news_social .newsletter .input_email #mail::placeholder {
    font-size:0.81rem;
    color:#7C7C7C;
}
footer .ft_container .news_social .newsletter .input_email .join_btn {
    font-size:0.81rem;
    font-weight:600;
    letter-spacing:0;
    padding:10px 20px;
    color:#fff;
    background:#000;
}
footer .ft_container .news_social .social {
    display:flex;
    align-items:center;
}
footer .ft_container .news_social .social a {
    display:inline-block;
    width:20px;
    margin-right:20px;
}
footer .ft_container .news_social .social a img {width:100%;}