/* header, footer 통합 CSS */
/* =================================================== header */
header {
    width:1600px; margin:0 auto;
    position:absolute; top:0; left:160px;
    position:fixed;
}
header .top_wrap {
    display:flex; justify-content:space-between; align-items:center;
    padding:40px 0 35px;
}
header .top_wrap .search_wrap {
    width:142px; border-bottom:1px solid #fff;
    display:flex; justify-content:space-between;
    padding-bottom:5px;
}
header .top_wrap .search_wrap #search {width:100%; font-size:0.81rem; background:transparent; color:#fff;}
header .top_wrap .search_wrap #search::placeholder {color:#fff; font-size:0.81rem;}
header .top_wrap .search_wrap a {}
header .top_wrap .search_wrap a img {width:12px; height:12px;}
header .top_wrap .logo {}
header .top_wrap .logo h1 {}
header .top_wrap .logo h1 a {}
header .top_wrap .logo h1 a img {}
header .top_wrap .user_wrap {}
header .top_wrap .user_wrap a {font-size:0.81rem; color:#fff;}
header .top_wrap .user_wrap a:first-child {margin-right:20px;}
header .nav {text-align:center;}
header .nav a {margin-right:45px; font-family:'Nuosu SIL'; color:#fff;}
header .nav a:last-child {margin:0;}
/* =================================================== footer */
footer {width:100%; padding:60px 160px; border-top:1px solid #000;}
footer > * {font-size:0.81rem; letter-spacing:-0.02em;}
footer .ft_container {}
footer .ft_container .ft_top {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    margin-bottom:20px;
}
footer .ft_container .ft_top .legar {}
footer .ft_container .ft_top .legar .row1 {margin-bottom:40px;}
footer .ft_container .ft_top .legar .row1 a {margin-right:20px;}
footer .ft_container .ft_top .legar .row2 {
    color:#7C7C7C; display:flex; flex-flow:column nowrap; 
}
footer .ft_container .ft_top .legar .row2 span {margin-bottom:12px;}
footer .ft_container .ft_top .legar .row2 span em {font-weight:600;}
footer .ft_container .ft_top .left {display:flex;}
footer .ft_container .ft_top .left .help {margin-right:150px;}
footer .ft_container .ft_top .left .help p {font-family:'Nuosu SIL'; font-size:1.25rem; margin-bottom:20px;}
footer .ft_container .ft_top .left .help a {display:block; margin-bottom:20px;}
footer .ft_container .ft_top .left .help span {font-weight:600; line-height:1.4;}
footer .ft_container .ft_top .left .store {margin-right:150px;}
footer .ft_container .ft_top .left .store p {font-family:'Nuosu SIL'; font-size:1.25rem; margin-bottom:20px;}
footer .ft_container .ft_top .left .store a {display:block; margin-bottom:20px;}
footer .ft_container .ft_top .left .news_social {}
footer .ft_container .ft_top .left .news_social .news {margin-bottom:40px; width:267px;}
footer .ft_container .ft_top .left .news_social .news p {font-weight:600; margin-bottom:10px;}
footer .ft_container .ft_top .left .news_social .news .input_email {
    border:1px solid #000;
    display:flex; flex-flow:row nowrap; justify-content:space-between;}
footer .ft_container .ft_top .left .news_social .news .input_email #mail {margin-left:10px;}
footer .ft_container .ft_top .left .news_social .news .input_email #mail::placeholder {font-size:0.81rem; color:#7C7C7C;}
footer .ft_container .ft_top .left .news_social .news .input_email .join_btn {
    font-size:0.81rem; font-weight:600;
    padding:10px 20px; color:#fff; background:#000;
}
footer .ft_container .ft_top .left .news_social .social {}
footer .ft_container .ft_top .left .news_social .social a {}
footer .ft_container .ft_top .left .news_social .social a img {}
footer .ft_container .copyright {}
footer .ft_container .copyright p {color:#7C7C7C; line-height:1.6;}