/* =================================================== header */
header .nav a, 
header .nav div {color:#fff;}
/* =================================================== 세컨드 내비게이션 팝업 공통 CSS */
header .nav .second_nav {
    margin-top:22px;
    display:flex;
    flex-flow:column nowrap;
    align-items:start;
    padding:25px;
    background-color:rgba(255,255,255,0.3);
    position:absolute;
    left:0; top:0;
    display:none;
}
header .nav .second_nav:hover {
    display:block;
}
header .nav .second_nav > a {
    margin-bottom:25px;
    font-size:0.88rem;
    white-space:nowrap;
    color:#fff;
}
header .nav .second_nav > a:hover {font-weight:700;}
header .nav .second_nav > a:last-child {margin:0;}
/* =================================================== 메인배너 */
main {margin:0 auto;}
main .bnr {height:100vh; overflow:hidden;}
main .bnr video {width:100%;}
/* =================================================== 공통 CSS */
main > * {color:#1A1A18;}
main h2 {
    font-family:'Diptyque';
    font-size:1.88rem;
    font-weight:700;
    letter-spacing:0;
    text-align:center;
}
main .container {width:1600px; margin:0 auto;}
main .products {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
/* =================================================== 베스트셀러 */
main .best {width:1600px; margin-top:160px;}
main .best > h2 {margin-bottom:40px;}
main .best .category {text-align:center; margin-bottom:40px;}
main .best .category a {
    color:#7C7C7C;
    margin-right:30px;
    letter-spacing:0;
}
main .best .category a:last-child {margin:0;}
main .best .category .active {font-weight:600; color:#1A1A18;}
main .best .products {}
main .best .products .item {}
main .best .products .item .item_thum {}
main .best .products .item .item_thum .image {}
main .best .products .item .item_thum .image img {width:100%;}
main .best .products .item .item_thum .tag {}
main .best .products .item .item_name_add_btn {}
main .best .products .item .item_name_add_btn .item_name {}
main .best .products .item .item_name_add_btn .add_btn {}
main .best .products .item .item_name_add_btn .add_btn img {}
main .best .products .item .item_info {}
main .best .products .item .price {}
/* =================================================== 취향콘텐츠 */
main .prefer {width:1600px; text-align:center; margin-top:160px;}
main .prefer .title_wrap {}
main .prefer .title_wrap h2 {}
main .prefer .title_wrap h3 {font-size:1.125rem; margin:15px 0 40px;}
main .prefer .contents {display:flex; justify-content:space-between;}
main .prefer .contents .type {
    width:280px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
main .prefer .contents .type > a {
    display:block;
    width:200px;
}
main .prefer .contents .type a img {
    width:100%;
    border-radius:50%; 
    margin-bottom:30px;
}
main .prefer .contents .type h4 {
    font-family:'Diptyque';
    font-weight:700;
    letter-spacing:0;
    margin-bottom:20px;
}
main .prefer .contents .type p {
    font-size:0.88rem;
    line-height:1.7; 
    margin-bottom:50px;
}
main .prefer .contents .type .btn_discover {
    background-color:#1A1A18;
    width:86px; padding:8px 0;
}
main .prefer .contents .type .btn_discover > a {
    font-size:0.81rem;
    letter-spacing:0;
    color:#fff;
}
/* =================================================== 기프트배너 */
main .gifts_bnr {margin-top:160px;}
main .gifts_bnr h2 {}
main .gifts_bnr h3 {
    font-size:1.125rem;
    margin:15px 0 40px;
    text-align:center;
}
main .gifts_bnr .bnr_image {max-width:1920px;}
main .gifts_bnr .bnr_image img {width:100%;}
/* =================================================== 바디, 홈 콘텐츠 공통 CSS */
main .special_layout {
    margin-top:160px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
main .special_layout .bnr_container {
    background-size:cover;
    background-position:center;
    width:536px; height:700px;
    padding:45px 60px;
    display:flex;
    align-items:end;
    position:relative;
}
main .special_layout .bnr_container > p {
    font-size:1.125rem;
    line-height:1.5; 
    color:#fff;
}
main .special_layout .bnr_container .click_popup {position:absolute;}
main .special_layout .bnr_container .click_popup .info_label {
    display:none;
    background-color:rgba(255, 255, 255, 0.7);
    width:152px;
    padding:10px 12px;
    margin-bottom:8px;
}
main .special_layout .bnr_container .click_popup .info_label p {font-size:0.69rem;}
main .special_layout .bnr_container .click_popup .info_label span {
    font-family:'Diptyque';
    font-size:0.69rem;
    letter-spacing:0;
    color:#7C7C7C; 
    margin-bottom:4px;
}
main .special_layout .bnr_container .click_popup .info_label .price {
    font-size:0.81rem;
    font-weight:600;
    text-align:right;
}
main .special_layout .bnr_container .click_popup .add_btn {
    display:block; width:18px;
}
main .special_layout .bnr_container .click_popup .add_btn img {width:100%;}
main .special_layout .products_container {width:980px;}
main .special_layout .products_container .title {
    display:flex;
    justify-content:space-between;
    align-items:end;
    margin-bottom:40px;
}
main .special_layout .products_container .title h2 {
    font-size:1.5rem;
    letter-spacing:0;
}
main .special_layout .products_container .title .more_view {
    font-size:0.81rem;
    font-weight:600;
    letter-spacing:0;
    color:#7C7C7C;
}
main .special_layout .products_container .title .more_view img {
    width:5px; height:10px; margin-left:10px;
}
main .special_layout .products_container .products {}
main .special_layout .products_container .products .item {width:calc((100% - 80px) / 3);}
main .special_layout .products_container .products .item .item_thum {}
main .special_layout .products_container .products .item .item_thum .image {}
main .special_layout .products_container .products .item .item_thum .image img {width:100%;}
main .special_layout .products_container .products .item .item_thum .tag {}
main .special_layout .products_container .products .item .item_name_add_btn {}
main .special_layout .products_container .products .item .item_name_add_btn .item_name {}
main .special_layout .products_container .products .item .item_name_add_btn .add_btn {}
main .special_layout .products_container .products .item .item_info {}
main .special_layout .products_container .products .item .price {}
/* =================================================== 바디&배쓰 제품 */
main .body_bath {}
main .body_bath .bnr_container {background-image:url(../images/banner/bnr_body.jpg);}
main .body_bath .bnr_container .click_popup {}
main .body_bath .bnr_container .click_popup .info_label {}
main .body_bath .bnr_container .click_popup .info_label p {}
main .body_bath .bnr_container .click_popup .info_label span {}
main .body_bath .bnr_container .click_popup .info_label .price {}
main .body_bath .bnr_container .click_popup .add_btn {}
main .body_bath .bnr_container > .act {bottom:539px; left:203px;}
main .body_bath .bnr_container > .act .add_btn {}
main .body_bath .bnr_container > .deact {bottom:367px; right:99px;}
main .body_bath .bnr_container > .deact .add_btn {float:right;}
main .body_bath .products_container {}
main .body_bath .products_container .title {margin-bottom:40px;}
main .body_bath .products_container .title h2 {font-size:1.5rem; letter-spacing:0;}
main .body_bath .products_container .title .more_view {letter-spacing:0;}
main .body_bath .products_container .title .more_view img {}
main .body_bath .products_container .products {}
main .body_bath .products_container .products .item {}
main .body_bath .products_container .products .item .item_thum {}
main .body_bath .products_container .products .item .item_thum .image {}
main .body_bath .products_container .products .item .item_thum .image img {}
main .body_bath .products_container .products .item .item_thum .tag {}
main .body_bath .products_container .products .item .item_name_add_btn {}
main .body_bath .products_container .products .item .item_name_add_btn .item_name {}
main .body_bath .products_container .products .item .item_name_add_btn .add_btn {}
main .body_bath .products_container .products .item .item_info {}
main .body_bath .products_container .products .item .price {}
/* =================================================== 캔들&홈프래그런스 제품 */
main .home {}
main .home .bnr_container {background-image:url(../images//banner/bnr_home.jpg);}
main .home .bnr_container .click_popup {}
main .home .bnr_container .click_popup .info_label {}
main .home .bnr_container .click_popup .info_label p {}
main .home .bnr_container .click_popup .info_label span {}
main .home .bnr_container .click_popup .info_label .price {}
main .home .bnr_container .click_popup .add_btn {}
main .home .bnr_container .deact1 {bottom:289px; left:45px;}
main .home .bnr_container .deact2 {bottom:195px; left:239px;}
main .home .bnr_container .act {bottom:345px; right:44px;}
main .home .bnr_container .act .add_btn {float:right;}
main .home .products_container {}
main .home .products_container .title {}
main .home .products_container .title h2 {}
main .home .products_container .title .more_view {}
main .home .products_container .title .more_view img {}
main .home .products_container .products {}
main .home .products_container .products .item {}
main .home .products_container .products .item .item_thum {}
main .home .products_container .products .item .item_thum .image {}
main .home .products_container .products .item .item_thum .image img {}
main .home .products_container .products .item .item_thum .tag {}
main .home .products_container .products .item .item_name_add_btn {}
main .home .products_container .products .item .item_name_add_btn .item_name {}
main .home .products_container .products .item .item_name_add_btn .add_btn {}
main .home .products_container .products .item .item_info {}
main .home .products_container .products .item .price {}
/* =================================================== 뉴스레터 콘텐츠 */
main .newsletter {margin-top:160px; position:relative;}
main .newsletter h2 {margin-bottom:40px;}
main .newsletter .swiper {width:100%; height:608px;}
main .newsletter .swiper .swiper-wrapper {}
main .newsletter .swiper .swiper-wrapper .swiper-slide {}
main .newsletter .swiper .swiper-wrapper .swiper-slide a {display:block; width:456px;}
main .newsletter .swiper .swiper-wrapper .swiper-slide a img {width:100%;}
main .newsletter .slide_btn {
    width:1600px;
    margin:15px auto 0;
    display:flex;
    justify-content:space-between;
}
main .newsletter .slide_btn .prev,
main .newsletter .slide_btn .next {width:13px;}
main .newsletter .slide_btn .prev img,
main .newsletter .slide_btn .next img {width:100%;}
main .newsletter .swiper-scrollbar {
    width:1500px; height:2px;
    background-color:#d9d9d9;
    left:50%; bottom:2%;
    transform:translateX(-50%);
}
main .newsletter .swiper-scrollbar-drag {background-color:#1A1A18;}
/* =================================================== 컬렉션 소개 */
main .collection {
    width:1600px;
    position:relative;
    margin:160px auto;
}
main .collection h2 {margin-bottom:40px;}
main .collection .swiper {width:1500px;}
main .collection .swiper .swiper-wrapper {}
main .collection .swiper .swiper-wrapper .swiper-slide {}
main .collection .swiper .swiper-wrapper .swiper-slide a {display:block; width:400px;}
main .collection .swiper .swiper-wrapper .swiper-slide a img {
    width:100%;
    margin-bottom:20px;
}
main .collection .swiper .swiper-wrapper .swiper-slide .texts {}
main .collection .swiper .swiper-wrapper .swiper-slide .texts .kr_name {margin-bottom:8px;}
main .collection .swiper .swiper-wrapper .swiper-slide .texts .en_name {
    font-family:'Diptyque';
    font-size:0.88rem;
    letter-spacing:0;
    margin-bottom:20px;
}
main .collection .swiper .swiper-wrapper .swiper-slide .texts .collection_explain {
    font-size:0.88rem;
    line-height:1.6;
    color:#7C7C7C;
}
main .collection .slide_btn {
    width:100%;
    display:flex;
    justify-content:space-between;
    position:absolute;
    top:50%; left:0;
}
main .collection .slide_btn .prev,
main .collection .slide_btn .next {width:13px;}
main .collection .slide_btn .prev img,
main .collection .slide_btn .next img {width:100%;}