/* =================================================== header */
header {border-bottom:1px solid #D9D9D9;}
header .nav {margin-bottom:30px;}
/* =================================================== 메인 시작, 페이지타이틀 + 배너 */
main {padding-top:252px;}
main > * {margin:0 auto;}
main .page_title {
    text-align:center;
    margin-bottom:20px;
}
main .page_title h1 {
    font-family:'Diptyque';
    font-size:3rem;
    letter-spacing:0;
    margin-bottom:8px;
}
main .page_title p {line-height:1.6;}
main .hero_bnr {width:1200px; margin:0 auto; height:600px; text-align:center;}
main .hero_bnr img {width:100%;}
/* =================================================== 공통 CSS */
main > * {color:#1A1A18;}
main h2 {
    font-family:'Diptyque';
    font-size:1.88rem;
    font-weight:700;
    letter-spacing:0;
    text-align:center;
    margin-bottom:40px;
    margin-top:160px;
}
/* =================================================== new */
main .new {position:relative;}
main .new h2 {}
main .new .swiper {width:1417px;}
main .new .swiper .swiper-wrapper {}
main .new .swiper .swiper-wrapper .swiper-slide {width:300px;}
main .new .swiper .swiper-wrapper .swiper-slide .item_thum {}
main .new .swiper .swiper-wrapper .swiper-slide .item_thum a {}
main .new .swiper .swiper-wrapper .swiper-slide .item_thum a img {width:100%;}
main .new .swiper .swiper-wrapper .swiper-slide .item_name_add_btn {}
main .new .swiper .swiper-wrapper .swiper-slide .item_name_add_btn .item_name {}
main .new .swiper .swiper-wrapper .swiper-slide .item_name_add_btn .add_btn {}
main .new .swiper .swiper-wrapper .swiper-slide .item_name_add_btn .add_btn img {}
main .new .swiper .swiper-wrapper .swiper-slide .item_info {}
main .new .swiper .swiper-wrapper .swiper-slide .price {}
main .new .slide_btn {
    width:1600px;
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%);
    display:flex;
    justify-content:space-between;
}
main .new .slide_btn .prev,
main .new .slide_btn .next {width:13px;}
main .new .slide_btn .prev img,
main .new .slide_btn .next img {width:100%;}
/* =================================================== collections */
main .collections {width:1600px;}
main .collections h2 {}
main .collections .card_wrap {
    display:flex;
    justify-content:space-between;

}
main .collections .card_wrap .card {
    width:160px;
    display:flex;
    flex-flow:column nowrap;
    text-align:center;
}
main .collections .card_wrap .card a {}
main .collections .card_wrap .card a img {width:100%;}
main .collections .card_wrap .card p {}
main .collections .card_wrap .card span {
    margin-top:8px;
    font-family:'Diptyque';
    font-size:0.88rem;
    letter-spacing:0;
    color:#7C7C7C;
}
/* =================================================== all */
main .all {width:1600px; background-color: blanchedalmond;}
main .all h2 {}
main .all .total_option {
    display:flex;
    justify-content:space-between;
}
main .all .total_option .total {
    font-size:0.83rem;
    color:#7C7C7C;
}
main .all .total_option .option_wrap {
    font-size:0.83rem;
    background:url(../images/icon/arrow-right-b.png) no-repeat center;
    background-position-x:right;
    width:52px;
}
main .all .total_option .option_wrap option {font-size:0.83rem;}
/* =================================================== 함께 쓰면 좋은 제품 */
main .with {width:1600px;}
main .with h2 {font-size:1.5rem; font-weight:500;}
main .with .products {
    display:flex;
    justify-content:space-between;
}